<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/clear_stage.css') }}">
<div class="clear_stage" id="clearStage">
    <!-- <div class="current_score"></div> -->
    <h1>Great🎉</h1>
    <h2>Keep challenging</h2>
    <!-- <a href="#" onclick="next_round()"><i class="fa fa-arrow-right"></i></a> -->
    <a type="button" class="btn" id='stageCounter' href="#" onclick="clearStageShow()"><i class="fa fa-arrow-right"></i></a> 
    <!-- onclick="generate_new()" -->
</div>

<!-- <script>
    function next_round(){
event.preventDefault();
    };
</script> -->