{% extends 'base.html' %}

{% block head %}
  <!-- <link rel="stylesheet" href="game_page_style.css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/game_page_style.css') }}">
{% endblock %}
{% block body %}
  <div class="number_container">
      <div>
        <button class="btn number n_one">1</button>
      </div>
      <div class="">
        <button class="btn number n_two">2</button>
      </div>
  </div>
  <div class="number_container">
      <div>
        <button class="btn number n_three">3</button>
      </div>
      <div class="">
          <button class="btn number n_four">4</button>
      </div>
  </div>
  <div class="symbol_container">
      <button type="button" class="btn symbol s_one">+</button>
      <button type="button" class="btn symbol s_two">-</button>
      <button type="button" class="btn symbol s_three">x</button>
      <button type="button" class="btn symbol s_four">÷</button>
  </div>
{% endblock %}
