<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/give_up_button.css') }}">
<div class="give_up" id="mygive_up">
  <div class="give_up-body">
    <input type="button" class="btn-close" id="give_upClose" href="{{url_for('index')}}" aria-label="Close" onclick="toggle_give_upButton()">
    <h2>Give Up and show solution&#10067;</h2>
    <button type="button" class="btn_yes" id='give_upYes' href="{{url_for('index')}}" onclick="giveUpShowAns()">Yes</button>
    <button type="button" class="btn_restart" id='restart' href="{{url_for('index')}}" onclick="window.location.reload();">Restart</button>
    <div id="answer"></div>
  </div>
</div>
  