<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/game_page_style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/guide.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/ranking.css') }}">
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
    <script src="https://kit.fontawesome.com/42fa0df289.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>{% block title %} 24 Game {% endblock %}</title>
</head>
<body>
  <div class="container" id="blur">
    <header>
        <div class="isolated">
            <div class="body-wrapper">
              <div class="header">
                <div class="title">24 game</div>
                <div class="header-btns">
                  <a class="btn-help" href="#" onclick="toggle()"><i class="fa-regular fa-circle-question fa-lg"></i></a>
                  <a class="btn-share" href="https://www.facebook.com/sharer/sharer.php?u=https://www.w3schools.com/jquery/jquery_get_started.asp" target="_blank"><i class="fa-solid fa-share-nodes fa-lg"></i></a>
                  <a class="btn-rank" href="{{url_for('rank')}}"><i class="fa-solid fa-ranking-star fa-lg"></i></a>
                </div>
              </div>
    </header>
  {% block game_board %}{% endblock %}
  {% block game_script %}{% endblock %}
  {% block rank %}{% endblock %}
</div>
<!-- Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title"><p>How to play</p></div>
          <a class="btn-close" href="{{url_for('index')}}" aria-label="Close" onclick="toggle()"></a>
        </div>
        <div class="modal-body">
          <canvas id="canvas"></canvas>
          <!-- javascripts animations -->
          <!-- https://www.coolmathgames.com/0-number-solver -->
          <!-- ...https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API/Tutorial/Basic_animations -->
        </div>
      </div>
    </div>
  </div>
  <script>
    function toggle(){
      var blur = document.getElementById('blur');
      blur.classList.toggle('active');
      var myModal = document.getElementById('blur');
      myModal.classList.toggle('active');
    }
  </script>
</body>
</html>
