{% extends "header.html" %}

{% block title %} Login | 24 Game {% endblock %}

{% block login %}
<div id="padding">
    <h1>Login/Resgister</h1>
    <form action='/login' method='POST'>
         <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}"><br>
         <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}"><br>
        <input class="btn btn-default" type="submit" value="Login">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
</div>
{% endblock %}
</body>
</html>