<!-- rank -->
{% block rank %}
<div class="rank fade" id="myrank">
  <div class="rank-dialog">
    <div class="rank-content">
      <div class="rank-header">
        <div class="rank-title"><p>Rank</p></div>
        <a class="btn-close" href="{{url_for('index')}}" aria-label="Close" onclick="toggle_rankButton()"></a>
      </div>
      <div class="rank-body">
        <div class="current-score"><p>417</p></div> <!-- replace 417 with {{ score }},  get from db -->
        <div class="global-ranking">
          <table>
            <tr>
              <th>Username</th>
              <th>Score</th>
            </tr>
          {% for player in players %}
            <tr>
              <td>{{ player.username }}</td>
              <td>{{ player.max_score }}</td>
             </tr><br>
            {% endfor %}
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}