@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

*{
  font-family: 'Roboto', sans-serif;
}
.current_score{
    display: inline-flex;
    margin-top: 100px;
    height: 65px;
    width: 160px;
    background-color: #78787e;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 900;
}
  
.h1{
    display: flex;
    font-weight: bold;
    font-size: 35px; 
    color: #f9a9a9;
    letter-spacing: 0.01em;
    justify-content: center;
    text-align: center;
    cursor: default;
}

.button{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    background-color: #198127;
}