/* all buttons */
.isolated{
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}
.isolated#page_mask.active{
  display: none;
  pointer-events: none;
  user-select: none;
}
.game_top{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  position: relative
}
.current_score{
  display: inline-flex;
  margin-top: 100px;
  height: 65px;
  width: 160px;
  background-color: #78787e;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 900;
  color: white;
}
#resetBtn{
  font-size: 25px;
  color: #9d9da9;
  position: absolute;
  left: 190px;
}
#give_upBtn{
  font-size: 25px;
  color: #9d9da9;
  position: absolute;
  left: 230px;
}
#give_upBtn:hover{
  color: #e87575;
}
.game-board{
  padding-top: 20px;
}
.isolated .btn{
  border-radius:10px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  font-size: 2.5rem;
  border: none;
  border-radius: 4px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: .3s linear;
}
.isolated .btn:hover:enabled{
  transform: translate3d(0, -2px, 0);
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
.isolated .btn:active:enabled{
  transform: translate3d(0, 1px, 0);
}
.isolated .btn:disabled{
  cursor: default;
}


/* numbers */
.isolated .number_container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.isolated .number{
  margin: 10px;
  height: 100px;
  width: 100px;
  transition: background-color .2s, transform .2s, box-shadow .2s;
}
.isolated .number:hover:enabled, .isolated .number:focus:enabled, .isolated .number:active:enabled {
  text-shadow: 2px 2px 1px #6b504e;
}

 /* n_one */
 #n_one {
  color: #fff;
  background-color: #4285F4;
  box-shadow: 3px 3px #0746a4;
}

#n_one:hover:enabled, #n_one:focus:enabled, #n_one:active:enabled {
  color: #fff;
  background-color: #0b5ed7;
  box-shadow: 3px 3px #0746a4, 7px 7px 2px rgba(49, 132, 253, 0.5);
}

/* n_two */
#n_two {
  color: #fff;
  background-color: #34A843;
  box-shadow: 3px 3px #1e6027;
}

#n_two:hover:enabled, #n_two:focus:enabled, #n_two:active:enabled {
  color: #fff;
  background-color: #198127;
  box-shadow: 3px 3px #1e6027, 7px 7px 2px rgba(60, 153, 110, 0.5);
}

/* n_three */
#n_three{
  color: #fff;
  background-color: #FBBC08;
  box-shadow: 3px 3px #9c7407;
}
#n_three:hover:enabled, #n_three:focus:enabled, #n_three:active:enabled {
  color: #fff;
  background-color: #e0a606;
  box-shadow: 3px 3px #9c7407, 7px 7px 2px rgba(217, 164, 6, 0.5);
}

/* n_four */
#n_four {
  color: #fff;
  background-color: #EA4335;
  box-shadow: 3px 3px #802219;
}
#n_four:hover:enabled, #n_four:focus:enabled, #n_four:active:enabled {
  color: #fff;
  background-color: #be362a;
  box-shadow: 3px 3px #802219, 7px 7px 2px rgba(225, 83, 97, 0.5);
}



/* symbols */
.isolated .symbol_container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.isolated .symbol{
  margin: 10px;
  height: 50px;
  width: 50px;
  transition: background-color .15s, transform .15s, box-shadow .15s;
}
.isolated .symbol:hover:enabled, .isolated .symbol:focus:enabled, .isolated .symbol:active:enabled {
  text-shadow: 2px 2px 1px #876865;
}

/* s_one */
#s_one {
  color: #fff;
  background-color: #9ab5e0;
  box-shadow: 3px 3px #637693;
}
#s_one:hover:enabled, #s_one:focus:enabled, #s_one:active:enabled {
  color: #fff;
  background-color: #7da2df;
  box-shadow: 3px 3px #637693, 6px 6px 2px #c2d4f0;
}

/* s_two */
#s_two {
  color: #fff;
  background-color: #b1e3b6;
  box-shadow: 3px 3px #7ba17f;
}
#s_two:hover:enabled, #s_two:focus:enabled, #s_two:active:enabled {
  color: #fff;
  background-color: #87c18d;
  box-shadow: 3px 3px #7ba17f, 6px 6px 2px #baebc0;
}
  
/* s_three */
#s_three {
  color: #fff;
  background-color: #ebd28c;
  box-shadow: 3px 3px #8a7b52;
}
#s_three:hover:enabled, #s_three:focus:enabled, #s_three:active:enabled {
  color: #fff;
  background-color: #e9c563;
  box-shadow: 3px 3px #8a7b52, 6px 6px 2px #ffe59e;
}

/* s_four */
#s_four {
  color: #fff;
  background-color: #e4ada8;
  box-shadow: 3px 3px #876865;
}
#s_four:hover:enabled, #s_four:focus:enabled, #s_four:active:enabled {
  color: #fff;
  background-color: #cd8079;
  box-shadow: 3px 3px #876865, 6px 6px 2px #ffc3be;
}

#clear_stage_opener{
  display: none;
  opacity: 0;
}
